.alert {
  width: 100%;
  text-align: center;
  color: #fff;
  border-radius: 0.5rem;
}

.alert-success {
  background-color: rgb(88, 133, 20);
}

.alert-danger {
  background-color: rgb(255, 120, 66);
}
